/* Slideshow */
.slideshow-container {
	position: relative;
	margin: auto;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 10px;
}

.slideshow {
	display: none;
}

.slideshow img {
	vertical-align: middle;
	width: 100%;
}

/* Buttons */
.slideshow_prev, .slideshow_next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.slideshow_next {
	right: 0;
	left: unset;
	border-radius: 5px 0 0 5px;
}

/* Caption text */
.slideshow .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 18px;
	position: absolute;
	bottom: 15px;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	left: 50%;
    transform: translate(-50%, 0);
}