nav {
	background: white;
	border-bottom: 8px solid #71706E;
	height: 127px;
	width: 100%;
	z-index: 2;
}

.nav_logo {
	display: none;
}

.nav_img {
	height: 112px;
	margin-top: 15px;
}

.nav_list {
	float: right;
	padding: 0;
	margin: 0;
	margin-right: 40px;
	list-style: none;
}

.nav_list li {
	display: inline-block;
	margin: 0 5px;
	margin-top: 90px;
}

.nav_link {
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 3px;
	background: #F2F2F2;
}

.nav_link:hover, .nav_active, .nav_link:focus {
	background: #FFCC00;
	transition: 0.5s;
}

/* Menu Button */
.nav_menu {
	cursor: pointer;
	display: none;
	float: right;
	padding: 0 16px;
	padding-top: 8px;
	height: 40px;
	width: 40px;
	margin-top: 45px;
	background: transparent url('../pictures/menu/menu.svg') center/contain no-repeat;
}

#menu {
	display: none;
}

/* Enable Menu */
@media (max-width: 1350px) {
	.nav_menu {
		display: block;
	}

	.nav_list {
		display: flex;
		position: fixed;
		width: 300px;
		height: 100vh;
		background: #808080;
		top: 0;
		right: -100%;
		transition: all 0.5s;
		padding-top: 150px;
		flex-direction: column;
		justify-content: flex-start;
		margin: 0;
	}

	.nav_list li {
		padding: 0 50px;
		margin: 0;
		margin-left: 300px; 
		transition: margin-left 0.5s ease 0.2s;
		width: 70%;
	}

	.nav_link {
		margin: 5px 0;
		border-radius: 20px;
		display: block;
		text-align: center;
	}

	.nav_link:hover, .nav_link:focus {
		background: #FFCC00;
	}


	#menu:checked ~ .nav_list {
		right: 0;
	}

	#menu:checked ~ .nav_list li {
		margin: 0;
	}

	#menu:checked ~ .nav_menu {
		position: fixed;
		right: 0;
		z-index: 3;
		margin-right: unset;
		background: transparent url('../pictures/menu/close.svg') center/contain no-repeat;
	}
}


@media (max-width: 400px) {
	.nav_list {
		width: 100%;
	}
}

@media (max-width: 671px) {
	nav {
		position: relative;
	}

	.nav_img {
		position: absolute;
		bottom: 0;
		margin: 0;
		width: 80vw;
		height: auto;
	}
}
