Redirect 301 /ortsplan1.html http://www.prmodellbau.ch/
Redirect 301 /products.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /anlage.html http://www.prmodellbau.ch/info/anlage.html
Redirect 301 /neu_prm.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /neu_andere.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /hbmodell.html http://www.prmodellbau.ch/produkte/strassenfahrzeuge/artikel.html
Redirect 301 /neu_kiste.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /aktuell.html http://www.prmodellbau.ch/produkte/neuheiten.html
Redirect 301 /digital.html http://www.prmodellbau.ch/produkte/modellbau/artikel.html
Redirect 301 /pr-preisliste.html http://www.prmodellbau.ch/info/preislisten.html
Redirect 301 /bild_main.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /pr-kundeninfo.html http://www.prmodellbau.ch/
Redirect 301 /order.html http://www.prmodellbau.ch/info/bestellen.html
Redirect 301 /links.html http://www.prmodellbau.ch/
Redirect 301 /impressum.html http://www.prmodellbau.ch/info/impressum.html
Redirect 301 /bild_01.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /bild_02.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /bild_03.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /bild_04.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /bild_05.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /bild_06.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /bild_07.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /bild_08.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /bild_09.html http://www.prmodellbau.ch/produkte.html
Redirect 301 /menu.html http://www.prmodellbau.ch/


RedirectMatch 301 ^/pages_old/.*$ http://www.prmodellbau.ch/
RedirectMatch 301 ^/pdf/.*$ http://www.prmodellbau.ch/
RedirectMatch 301 ^/pictures/.*$ http://www.prmodellbau.ch/
RedirectMatch 301 ^/titelbilder/.*$ http://www.prmodellbau.ch/


ErrorDocument 404 http://www.prmodellbau.ch/404.html